.slideshow {
    border: 0;
    border: 0;
    box-shadow:none;
    margin: 0;
    max-width: 1000px;
    min-width: 100%;
    position: relative;
    width: 100%;
    height: 55vw;
    margin-top: -9vw;
    // z-index: -5 !important;
}
.content {
    // background: url(https://vulchivijay.files.wordpress.com/2015/01//grid.png) repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    // z-index: -5 !important;
}
.parallax-bg {
    background: url('../../../assets/images/aboutus/About_BG-01.png') repeat scroll 0 0;
    background-size: 139vw 100vw;
    // opacity: .1;
    // filter: alpha(opacity=10);
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    // z-index: -5 !important;
}
.slideshow input {
    bottom: 13vw;
    cursor: pointer;
    height: 25px;
    left: 30vw;
    opacity: 0;
    position: absolute;
    width: 25px;
    z-index: 1001;
    border-radius: 100px;
}
.slideshow input + label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    bottom: 13vw;
    cursor: pointer;
    height: 25px;
    left: 30vw;
    opacity: 1;
    position: absolute;
    width: 25px;
    border-radius: 100px;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
    z-index: 1000;
    border: 1px solid #676ab1;
}
.slideshow input:checked + label {
    background-color: #fff;
    background-color: #676ab1;
}
.selector-1, .button-label-1 {
    margin-left: -36px;
}
.selector-2, .button-label-2 {
    margin-left: 1.5vw;
}
.selector-4, .button-label-4 {
    margin-left: 18px;
}
.selector-5, .button-label-5 {
    margin-left: 36px;
}
.arrow {
    background: transparent url('https://vulchivijay.files.wordpress.com/2015/01/arrows.png') no-repeat;
    cursor: pointer;
    display: none;
    height: 38px;
    margin-top: -19px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
    width: 28px;
    z-index: 1000;
}
.arrow:hover{
    //background: transparent url(https://vulchivijay.files.wordpress.com/2015/01/arrows-hover.png) no-repeat;
    opacity: 1;
}
.arrow:active{
    margin-top: -18px;
}
.selector-1:checked ~ .arrow.a2,
.selector-2:checked ~ .arrow.a3,
.selector-3:checked ~ .arrow.a4,
.selector-4:checked ~ .arrow.a5 {
    background-position: top right;
    display: block;
    right: 15px;
}
.selector-2:checked ~ .arrow.a1,
.selector-3:checked ~ .arrow.a2,
.selector-4:checked ~ .arrow.a3,
.selector-5:checked ~ .arrow.a4 {
	background-position: top left;
	display: block;
	left: 15px;
}
.slideshow input:checked ~ .content {
    background-color: #f5f5f5;
	-webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
	-moz-transition: background-position linear 0.6s, background-color linear 0.8s;
	transition: background-position linear 0.6s, background-color linear 0.8s;
}
.slideshow input:checked ~ .content .parallax-bg {
	-webkit-transition: background-position linear 0.7s;
	-moz-transition: background-position linear 0.7s;
	transition: background-position linear 0.7s;
}
input.selector-1:checked ~ .content {
    background-position: 0 0;
}
input.selector-2:checked ~ .content {
    background-position: -100px 0;
}
input.selector-3:checked ~ .content {
    background-position: -200px 0;
}
input.selector-4:checked ~ .content {
    background-position: -300px 0;
}
input.selector-5:checked ~ .content {
    background-position: -400px 0;
}
input.selector-1:checked ~ .content .parallax-bg {
	background-position: 0 -38vw;
}
input.selector-2:checked ~ .content .parallax-bg {
	background-position:  0 -28vw;
}   
.slider {
    height: 200%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: top ease-in 0.8s;
    -moz-transition: top ease-in 0.8s;
    transition: top ease-in 0.8s;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.slider > li {
    box-sizing: border-box;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s;
    width: 100%;
}
.slider > li img {
    box-sizing: border-box;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
input.selector-1:checked ~ .content .slider {
    top: 0;
}
input.selector-2:checked ~ .content .slider {
    top: -100%;
}
input.selector-3:checked ~ .content .slider {
    top: -150%;
}
input.selector-4:checked ~ .content .slider {
    top: -300%;
}
input.selector-5:checked ~ .content .slider {
    top: -400%;
}
input.selector-1:checked ~ .content .slider > li:first-child,
input.selector-2:checked ~ .content .slider > li:nth-child(2),
input.selector-3:checked ~ .content .slider > li:nth-child(3),
input.selector-4:checked ~ .content .slider > li:nth-child(4),
input.selector-5:checked ~ .content .slider > li:nth-child(5){
    opacity: 1;
}
.slider > li > div {
    display: table-cell;
    padding:0;
}
/* media query*/
@media (max-width: 680px) {
	.slider > li > .slider-content {
		padding: 20px;
	}
}