/*
*
|  Page Name       : aboutus.scss
|  Description     : scss for about us page use
|  Created by      : May Altamerano
|  Date Created    : June 29 2021
|  Last Update by  : May Altamerano
|  Last update     : June 29 2021
*
*/
.--about {
    min-height: 100vh;
    // background: url("../images/aboutus/About_BG-01.png") top center;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    transition: background 0.3s;
    background-attachment: local, scroll;
    margin-top: -8vw;
    width: 100%;
    .--header-container {
        background: url("../images/aboutus/About_BG-Shapes-01.png") bottom -4vw right -20vw , url("../images/aboutus/About_BG-01.png")  top -38vw left;
        height: 50vw;
        background-repeat: no-repeat, no-repeat;
        background-size: 120vw auto, auto 96vw;
        transition: background 0.3s;
        background-attachment: scroll;
        // background-position: ;
        .splide {
            height: 50vw;
            .--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.6vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 2vw;
                color: #283a97;
                margin: 0;
                text-align: left;
            }
            .--desc {
                font-family: "gill sans",sans-serif;
                font-weight: 400 !important;
                margin-bottom: 0;
                font-size: 0.8vw;
                color:#676ab1;
                text-transform: uppercase;
                line-height: 1.6;
            }
            .--build-project-list {
                margin-top: 2vw;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: row;
                max-width: 85% ;
                figure {
                    flex: 1;
                    img {
                        margin: 0 auto 0 0;
                        display: block;
                        height: 50px;
                        width: 50px;
                        object-fit: contain;
                        object-position: center;
                        image-rendering: -webkit-optimize-contrast;
                    }
                    figcaption {
                        span {
                            font-family: "gill sans",sans-serif;
                            font-weight: 400 !important;
                            margin-bottom: 0;
                            font-size: 0.59vw;
                            color: #283a97;
                            text-transform: uppercase;
                            line-height: 1.6;
                            display: block;
                            width: 66px;
                            margin: 0.4vw auto 0 0;
                        }
                    }
                }
            }
            .--max {
                max-width: 75%;
            }

            .--about-content {
                height: 50vw;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 15vw;
            }
            .splide__arrows {
                display: none;
            }
            .splide__pagination {
                position: absolute;
                left: 28.7vw;
                right: unset;
                flex-direction: row;
                width: auto;
                justify-content: flex-end;
                bottom: 13vw;
                li {
                    height: 20px !important;
                    width: 20px !important;
                    margin-right: 50px;
                }
                .splide__pagination__page {
                    width: 20px !important;
                    height: 20px !important;
                    border: 2px solid #283a97 !important;
                    border-radius: 100px !important;
                    transform: none;
                    &.is-active {
                        background-color: #283a97 !important;
                    }
                }
            }
        }
    }
    .--container-2 {
        background: url("../images/aboutus/About_BG-Shapes-02.png") top center, url("../images/aboutus/About_BG-02.png") top -1vw center;
        height: 50vw;
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw auto, 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll, fixed;
        padding: 10vw 0;
        h1 {
            &.--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.6vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3.2vw;
                font-size: 2.2vw;
                color: #283a97;
                margin: 6vw 0 0 0;
                text-align: center;
            }
        }
        h2 {
            &.--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.6vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 1.8vw;
                color: #283a97;
                margin: 0;
                text-align: center;
            }
        }
        p {
            &.--sub-title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.2vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 2vw;
                font-size: 1.3vw;
                color: #676ab1;
                margin: 4vw 0 0 0;
                text-align: center;
            }
        }
    }
}