/*
*
|  Page Name       : aboutus.scss
|  Description     : scss for about us page use
|  Created by      : May Altamerano
|  Date Created    : June 29 2021
|  Last Update by  : May Altamerano
|  Last update     : July 1 2021
*
*/
.--about {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    transition: background 0.3s;
    background-attachment: local, scroll;
    margin-top: -9.1vw;
    width: 100%;
    .--header-container {
        background: url("../images/aboutus/About_BG-Shapes-01.png") bottom -8vw right -20vw , url("../images/aboutus/About_BG-01.png") top -35vw left 0vw;
        height: 51vw;
        background-repeat: no-repeat, no-repeat;
        background-size: 120vw auto, auto 101vw;
        transition: background 0.3s;
        background-attachment: scroll;
        // background-position: ;
        .splide {
            height: 50vw;
            .--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.5vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 2.3vw;
                color: #283a97;
                margin: 2.4vw 0 0 0;
                text-align: left;
            }
            .--desc {
                font-family: "gill sans medium",sans-serif;
                font-weight: 400 !important;
                margin-bottom: 0;
                font-size: 0.83vw;
                color: #676ab1;
                text-transform: uppercase;
                line-height: 1.8;
                margin-top: 2.8vw;
            }
            .--build-project-list {
                margin-top: 2vw;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: row;
                max-width: 95%;
                figure {
                    flex: 1;
                    img {
                        margin: 0 auto 0 0;
                        display: block;
                        height: 50px;
                        width: 50px;
                        object-fit: contain;
                        object-position: center;
                        image-rendering: -webkit-optimize-contrast;
                    }
                    figcaption {
                        span {
                            font-family: "gill sans",sans-serif;
                            font-weight: 400 !important;
                            margin-bottom: 0;
                            font-size: 0.59vw;
                            color: #283a97;
                            text-transform: uppercase;
                            line-height: 1.6;
                            display: block;
                            width: 66px;
                            margin: 0.4vw auto 0 0;
                        }
                    }
                }
            }
            .--max {
                max-width: 75%;
            }

            .--about-content {
                height: 50vw;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 15vw;
            }
            .splide__arrows {
                display: none;
            }
            .splide__pagination {
                position: absolute;
                left: 27.7vw;
                right: unset;
                flex-direction: row;
                width: auto;
                justify-content: flex-end;
                bottom: 9vw;
                li {
                    height: 20px !important;
                    width: 20px !important;
                    margin-right: 50px;
                }
                .splide__pagination__page {
                    width: 20px !important;
                    height: 20px !important;
                    border: 2px solid #283a97 !important;
                    border-radius: 100px !important;
                    transform: none;
                    &.is-active {
                        background-color: #283a97 !important;
                    }
                }
            }
        }
    }
    .--container-2 {
        background: url("../images/aboutus/About_BG-Shapes-02.png") top 3vw center, url("../images/aboutus/About_BG-02.png") top -0.5vw center;
        height: 68vw;
        background-repeat: no-repeat, no-repeat;
        background-size: 116vw auto, 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        h1 {
            &.--title {
                font-family: "gill sans light",sans-serif !important;
                letter-spacing: 0.5vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 1.5;
                font-size: 2.8vw;
                color: #283a97;
                margin: 4vw 0 0 0;
                text-align: center;
            }
        }
        h2 {
            &.--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.4vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 2.2vw;
                color: #283a97;
                margin: 5.5vw 0 0 0;
                text-align: center;
            }
        }
        p {
            &.--sub-title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.2vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 1.9vw;
                font-size: 1.5vw;
                color: #676ab1;
                margin: 5.5vw 0 0 0;
                text-align: center;
            }
        }
    }
    .--container-3 {
        background: url("../images/aboutus/About_BG-03.png") top center;
        height: 69.5vw;
        background-repeat: no-repeat;
        background-size: 118vw 70vw;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        position: relative;
        img {
            &.--img {
                position: absolute;
                height: 15vw;
                width: 15vw;
                image-rendering: -webkit-optimize-contrast;
                object-fit: contain;
                object-position: 0 0;
                top: 17vw;
                left: 14vw;
            }
        }
        h2 {
            &.--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.4vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 2.2vw;
                color: #ffffff;
                margin: 14vw 0 0 0;
                text-align: center;
            }
        }
        p {
            &.--sub-title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.5vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 1.7;
                font-size: 2vw;
                color: #ffffff;
                margin: 5vw 0 0 0;
                text-align: center;
            }
        }
    }
    .--container-4 {
        background: url("../images/aboutus/About_BG-04.png") bottom center;
        image-rendering: -webkit-optimize-contrast;
        height: 50vw;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        position: relative;
    }
    .--container-5 {
        height: 50vw;
        padding: 0;
        position: relative;
        .--bg-1 {
            background: url("../images/aboutus/About_BG-07.png") top left;
            image-rendering: -webkit-optimize-contrast;
            background-repeat: no-repeat;
            background-size: 60vw 55vw;
            transition: background 0.3s;
            background-attachment: scroll;
            height: 100vw;
            width: 100%;
            position: absolute;
            top: -29vw;
            &::before {
                content: "";
                background-color: #283997;
                position: absolute;
                top: 19vw;
                left: 0;
                width: 100%;
                height: 50vw;
            }
        }
        .--bg-2 {
            background: url("../images/aboutus/About_BG-07.png") top left;
            image-rendering: -webkit-optimize-contrast;
            background-repeat: no-repeat;
            background-size: 65vw 55vw;
            transition: background 0.3s;
            background-attachment: scroll;
            height: 100vw;
            width: 100%;
            position: absolute;
            bottom: -14vw;
            transform: scale(-1, -1);
        }
        .splide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50vw;
            // width: 1140px;
            margin: 0 auto;
            .splide__track {
                position: relative;
                top: -23vw;
                width: 100%;
                img {
                    // width: 66%;
                    width: 44vw;
                    height: 44vw;
                    object-fit: contain;
                    object-position: center;
                }
                .splide__list {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .splide__slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                    }
                }
            }
        }
        .splide__arrows {
            display: none;
        }
        .splide__pagination {
            position: absolute!important;
            bottom: 20vw;
            left: unset;
            transform: unset;
            li {
                margin: 0 1vw;
            }
            .splide__pagination__page {
                height: 23px;
                width: 23px;
                background-color: transparent !important;
                border: 1px solid #ffffff !important;
                &.is-active {
                    transform: none !important;
                    background-color: #ffffff !important;
                }
            }
        }
        .--right-container {
            top: 4vw;
            position: relative;
            left: 0;
            width: 44%;
            hr {
                height: 3px;
                background-color: #676ab0;
                width: 68vh;
                right: 0vw;
                position: absolute;
            }
            h5 {
                &.--title {
                    font-family: "gill sans",sans-serif !important;
                    letter-spacing: 0.3vw;
                    font-weight: 600 !important;
                    text-transform: uppercase;
                    line-height: 2.5vw;
                    font-size: 0.9vw;
                    color: #ffffff;
                    margin: 0;
                    text-align: center;
                    width: 95%;
                    margin-left: auto;
                }
            }
            p {
                &.--desc {
                    font-family: "Myriad Pro",sans-serif !important;
                    letter-spacing: 0.2vw;
                    font-weight: 400 !important;
                    text-transform: uppercase;
                    line-height: 2vw;
                    font-size: 1vw;
                    color: #ffffff;
                    margin: 2.5vw 0 0 0;
                    text-align: center;
                    width: 95%;
                    margin-left: auto;
                }
            }
        }
    }
    .--container-6 {
        background: url("../images/aboutus/About_BG-05.png") bottom center;
        image-rendering: -webkit-optimize-contrast;
        height: 50vw;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        position: relative;    
        z-index: -1;
        margin-top: -10vw;
    }
    .--container-7 {
        height: 50vw;
        padding: 0;
        position: relative;
        .--bg-1 {
            background: url("../images/aboutus/About_BG-07.png") top left;
            image-rendering: -webkit-optimize-contrast;
            background-repeat: no-repeat;
            background-size: 60vw 55vw;
            transition: background 0.3s;
            background-attachment: scroll;
            height: 50vw;
            width: 100%;
            position: absolute;
            top: -15vw;
            &::before {
                content: "";
                background-color: #283997;
                position: absolute;
                top: 15vw;
                left: 0;
                width: 100%;
                height: 50vw;
            }
        }
        .--bg-2 {
            background: url("../images/aboutus/About_BG-07.png") top left;
            image-rendering: -webkit-optimize-contrast;
            background-repeat: no-repeat;
            background-size: 65vw 55vw;
            transition: background 0.3s;
            background-attachment: scroll;
            height: 100vw;
            width: 100%;
            position: absolute;
            bottom: -14vw;
            transform: scale(-1, -1);
        }
        .splide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50vw;
            // width: 1140px;
            margin: 0 auto;
            .splide__track {
                position: relative;
                top: -18vw;
                width: 100%;
                img {
                    // width: 66%;
                    width: 44vw;
                    height: 44vw;
                    object-fit: contain;
                    object-position: center;
                }
                .splide__list {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .splide__slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                    }
                }
            }
        }
        .splide__arrows {
            display: none;
        }
        .splide__pagination {
            position: absolute!important;
            bottom: 14vw;
            left: unset;
            transform: unset;
            li {
                margin: 0 1vw;
            }
            .splide__pagination__page {
                height: 23px;
                width: 23px;
                background-color: transparent !important;
                border: 1px solid #ffffff !important;
                &.is-active {
                    transform: none !important;
                    background-color: #ffffff !important;
                }
            }
        }
        .--right-container {
            top: 5vw;
            position: relative;
            left: 0;
            width: 44%;
            hr {
                height: 3px;
                background-color: #676ab0;
                width: 68vh;
                right: 0vw;
                position: absolute;
            }
            h5 {
                &.--title {
                    font-family: "gill sans",sans-serif !important;
                    letter-spacing: 0.3vw;
                    font-weight: 600 !important;
                    text-transform: uppercase;
                    line-height: 2.5vw;
                    font-size: 0.9vw;
                    color: #ffffff;
                    margin: 0;
                    text-align: center;
                    width: 95%;
                    margin-left: auto;
                }
            }
            p {
                &.--desc {
                    font-family: "Myriad Pro",sans-serif !important;
                    letter-spacing: 0.2vw;
                    font-weight: 400 !important;
                    text-transform: uppercase;
                    line-height: 2vw;
                    font-size: 1vw;
                    color: #ffffff;
                    margin: 2.5vw 0 0 0;
                    text-align: center;
                    width: 95%;
                    margin-left: auto;
                }
            }
        }
    }
    .--container-8 {
        background: url("../images/aboutus/About_BG-06.png") bottom center;
        image-rendering: -webkit-optimize-contrast;
        height: 59vw;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        position: relative;   
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.6vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3vw;
            font-size: 2.5vw;
            color: #283a97;
            margin: 8vw 0 0 0;
            text-align: center;
        } 
        .--desc {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.1vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3vw;
            font-size: 1.2vw;
            color: #283a97;
            margin: 4vw 0 0 0;
            text-align: center;
        }
    }
    @media (max-width:1500px) {
        .--container-5 {
            .splide__pagination {
                bottom: 17vw;
            }
        }
        .--container-7 {
            .splide__pagination {
                bottom: 10vw;
            }
        }

    }
    @media (max-width:1400px) {
        .--container-5 {
            .splide__pagination {
                bottom: 15vw;
            }
        }
        .--container-7 {
            .splide__pagination {
                bottom: 8vw;
            }
        }

    }
}