/*
*
|  Page Name       : contactus.scss
|  Description     : scss for contact us page use
|  Created by      : May Altamerano
|  Date Created    : July 3 2021
|  Last Update by  : May Altamerano
|  Last update     : July 3 2021
*
*/
.--contact-us {
    background: url("../images/contactus/Contact_Shapes-01.png") top 1vw left -30vw,
    url("../images/contactus/Contact_BG-02.png") top 44vw center,
    url("../images/contactus/Contact_BG-01.png") top -8vw center;
    background-size: 145vw auto, 105vw auto, 100vw auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: scroll;
    transition: background 0.3s;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    .--bg-1 {
        padding: 10vw 0 0 0;
        min-height: 50vw;
        margin-top: -9.1vw;
        width: 100%;
        .--max {
            max-width: 86%;
        }
        h1.--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.4vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3.1vw;
            font-size: 2vw;
            color: #283a97;
            margin: 4vw 0 10.5vw 0;
            text-align: center;
        }
        img {
            margin: 0 auto 3vw auto;
            display: block;
            height: 135px;
            width: 135px;
        }
        h3.--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.2vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 1.1;
            font-size: 1.19vw;
            color: #283a97;
            margin: 0 0 0.5vw 0;
            text-align: center;    
        }
        p.--desc {
            font-family: "gill sans medium",sans-serif;
            font-weight: 500 !important;
            margin-bottom: 2.4vw;
            font-size: 1.2vw;
            color: #283a97;
            line-height: 1.4vw;
            text-align: center;
            letter-spacing: 0.17vw;
        }
    }
    .--bg-2 {
        padding: 10vw 0 0 0;
        min-height: 70vw;
        width: 100%;
    }
}