/*
*
|  Page Name       : home.scss
|  Description     : scss for home page use
|  Created by      : May Altamerano
|  Date Created    : June 25 2021
|  Last Update by  : May Altamerano
|  Last update     : June 25 2021
*
*/

.--home {
    height: 100vh;
    width: 100%;
    .--header {
        position: relative;
        background: url("../images/home/Home_BG-01.png")  top -7vw center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        transition: width 0.5s;
        transition: height 0.5s;
        transition: background 0.3s;
        // background-attachment: fixed;
        height: 100vh;
        padding-top: 7vw;
        display: flex;
        align-items: flex-start;
        h1 {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.6vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3vw;
            font-size: 2vw;
            color: #283a97;
            margin: 12vw 0 0 0;
            text-align: center;
        }
    }
}