/*
*
|  Page Name       : home.scss
|  Description     : scss for home page use
|  Created by      : May Altamerano
|  Date Created    : June 25 2021
|  Last Update by  : May Altamerano
|  Last update     : June 25 2021
*
*/

.--home {
    min-height: 100vh;
    background: url("../images/home/About_BG-07.png") top 40.3vw center,
    url("../images/home/Home_BG-03.png") top 116.8vw center,
    url("../images/home/Home_BG-04.png") top 168vw center,
    url("../images/home/Home_BG-01.png")  top -2vw center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 100vw 66vw, 100vw 52vw, 100vw 67vw, 100% auto;
    transition: background 0.3s;
    background-attachment: scroll, scroll, scroll, local;
    margin-top: -9vw;
    width: 100%;
    &::before {
        content: "";
        height: 13vw;
        width: 50vw;
        background-color: #101869;
        opacity: 0.6;
        position: absolute;
        top: 41.5vw;
        left: -10vw;
        transition: height 0.3s;
        transition: width 0.3s;
        transform: skew(328deg , 17deg);
    }
    &::after {
        content: "";
        height: 7.8vw;
        width: 57.5vw;
        background-color: transparent;
        border: 1px solid #ffffff;
        position: absolute;
        top: 51vw;
        left: 26vw;
        transition: height 0.3s;
        transition: width 0.3s;
        transform: skew(321deg, 16.5deg);
    }
    .--header {
        position: relative;
        width: 100%;
        transition: width 0.5s;
        transition: height 0.5s;
        background-attachment: relative;
        padding-top: 7vw;
        display: flex;
        align-items: flex-start;
        min-height: 50vw;
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 4.7vw;
            font-size: 2.5vw;
            color: #283a97;
            margin: 13.8vw 0 0 0;
            text-align: center;
        }
    }
    .--bg-2 {
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 100vw;
        background-color: transparent;
        width: 100%;
        min-height: 67vw;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            background-color:#283a97;
            height: 30vw;

        }
        .--container-2 {
            padding-top: 15vw;
            padding-bottom: 5vw;
            min-height: 50vw;
            position: relative;
            z-index: 5;
            &.--max {
                max-width: 90%;
            }
            .--title {
                font-family: "gill sans",sans-serif !important;
                letter-spacing: 0.6vw;
                font-weight: 600 !important;
                text-transform: uppercase;
                line-height: 3vw;
                font-size: 2.6vw;
                color: #ffffff;
                margin: 7.6vw 0 5vw 0;
                text-align: center;
            }
            .--carousel {
                .carousel-item {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    align-items: center;
                    img {
                        padding-left: 3.5vw;
                        height: 27vw;
                        object-fit: cover;
                        object-position: 0 0;
                        width: 50% !important;
                    }
                    .carousel-caption {
                        position: relative;
                        right: unset;
                        left: unset;
                        bottom: unset;
                        padding: 0 2.3vw 0 0;
                        text-align: right;
                        width: 42% !important;
                        h3 {
                            font-family: "gill sans",sans-serif !important;
                            letter-spacing: 0.4vw;
                            font-size: 1.62vw;
                            font-weight: 600;
                            margin-bottom: 25px;
                        }
                        p {
                            font-family: "gill sans medium",sans-serif !important;
                            font-size: 0.95vw;
                            min-height: 19vw;
                            font-weight: 400 !important;
                            line-height: 1.9;
                            letter-spacing: 0.02vw;
                        }
                        .--btn-check-our-work {
                            font-family: "gill sans medium",sans-serif !important;
                            letter-spacing: 0.3vw;
                            font-size: 1vw;
                            color: #283a97;
                            font-weight: 600;
                            padding: 1.3vw 1.5vw;
                            border-radius: 0;
                            position: absolute;
                            top: 15vw;
                            left: 14.5vw;
                            outline: 0 !important;
                            box-shadow: none !important;
                        }
                    }
                }
                .carousel-indicators {
                    width: 37.5% !important;
                    height: 30px;
                    margin-left: 0;
                    margin-right: 0;
                    bottom: -1vw;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 5.25vw;
                    li {
                        height: 25px;
                        width: 25px;
                        border-radius: 100px;
                        border: 1px solid #ffffff;
                        background-color: transparent;
                        transition: background-color 0.5s;
                        margin: 0 0 0 3vw;
                        cursor: pointer;
                        &.active {
                            transition: background-color 0.5s;
                            background-color: #ffffff;
                        }
                    }
                }
                .carousel-control-prev,
                .carousel-control-next {
                    display: none;
                }
            }
        }
    }
    .--container-3 {
        padding: 10vw 0 10vw 0;
        &.--max {
            max-width: 93%;
        }
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.3vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3vw;
            font-size: 2.2vw;
            color: #283a97;
            margin: 0 0 8vw 0;
            text-align: center;
        }
        img {
            display: block;
            width: 13vw;
            height: 13vw;
            object-fit: contain;
            object-position: center;
            image-rendering: -webkit-optimize-contrast;
            &.--center {
                margin: 0 auto 50px auto;
            }
        }
        h5 {
            &.--project-title {
                font-family: "Myriad Pro",sans-serif !important;
                letter-spacing: 0.2vw;
                font-size: 1.1vw;
                font-weight: 600;
                margin-bottom: 10px;
                text-align: center;
                color: #283a97;
            }
        }
        p {
            &.--desc{
                color: #676ab1;
                font-family: "Myriad Pro",sans-serif !important;
                font-size: 1.1vw;
                font-weight: 400;
                letter-spacing: 0.02vw;
                text-align: center;
            }
        }
    }
    .--container-4 {
        padding: 10vw 0 5vw 0;
        &.--max {
            max-width: 77%;
        }
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3vw;
            font-size: 2.4vw;
            color: #283a97;
            margin: 1.5vw 0 6.5vw 0;
            text-align: center;
        }
        img {
            &.--img {
                width: 40vw;
                object-fit: contain;
                object-position: 0 0;
                height: 28.5vw;
            }
        }
        .--launches-details {
            height: 25.5vw;
            padding-left: 5vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            img {
                &.--img-logo {
                    width: 15vw;
                    object-fit: contain;
                    object-position: 0 0;
                    image-rendering: pixelated;
                    height: 4vw;
                    display: block;
                    margin-bottom: 2vw;
                }
            }
            p {
                font-family: "gill sans medium",sans-serif !important;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 1.3vw;
                line-height: 2;
                color: #283997;
                margin-bottom: 0;
                letter-spacing: 0.3vw;
                &.--txt {  
                    font-weight: 600;
                    &:nth-child(3) {
                        margin-bottom: 30px;
                    }
                }
                &.--desc {
                    font-size: 0.9vw !important;
                    line-height: 2;
                    letter-spacing: 0;
                }
            }
            
        }
        .--btn-im-interested {
            font-family: "Myriad Pro",sans-serif !important;
            letter-spacing: 0.3vw;
            font-size: 1.1vw;
            background-color: #283a97;
            color: #ffffff;
            font-weight: 500;
            padding: 20px 4vw;
            border-radius: 0;
            outline: 0 !important;
            box-shadow: none !important;
            display: block;
            margin: 9vw auto 0 auto;
        }
    }
    @media (max-width:992px) {
        background:url("../images/mobile/home/Home_BG-02.png") top 37vw center,
        url("../images/mobile/home/Home_BG-03.png")  top 155vw center,
        url("../images/mobile/home/Home_BG-01.png")  top -2vw center;
        background-repeat: no-repeat;
        background-size: 170vw 100vw, 100vw auto, 100vw 70vw;
        transition: background 0.5s;
        background-attachment: local;
        margin-top: 0;
        transition: margin-top 0.5s;
        image-rendering: pixelated;
        &::before {
            content: "";
            height: 15vw;
            width: 50vw;
            background-color: #101869;
            opacity: 0.6;
            position: absolute;
            top: 42.5vw;
            left: -22vw;
            transition: height 0.3s;
            transition: width 0.3s;
            transition: transform 0.3s;
            transform: skew(327deg, 13deg);
        }
        &::after {
            content: "";
            height: 9.8vw;
            width: 57.5vw;
            background-color: transparent;
            border: 1px solid #ffffff;
            position: absolute;
            top: 50vw;
            left: 20vw;
            transition: height 0.3s;
            transition: width 0.3s;
            transition: transform 0.3s;
            transform: skew(327deg, 13deg);
        }
        .--header {
            min-height: 50vh;
            padding: 20vw 0 10vw 0;
            .--title {
                font-size: 1.500em;
                line-height: 1.6;
                margin: 0;
            }
        }
        .--bg-2 {
            min-height: 90vw;
            &::after {
                height: 50vw !important;
            }
            .--title {
                font-size: 1.500em;
                line-height: 1.6;
            }
            .--carousel-mb {
                .carousel-inner {
                    img {
                        width: 55vw !important;
                        margin: 0 auto;
                    }
                    .carousel-caption {
                        position: relative;
                        right: unset;
                        left: unset;
                        margin-top: 8vw;
                        h3 {
                            font-size: 	1.125em;
                            margin-bottom: 1.5vw;
                            letter-spacing: 0.4vw;
                        }
                        p {
                            font-size: 0.875em;
                            letter-spacing: 0.2vw;
                            br {
                                display: none;
                            }
                        }
                    }
                }
                .carousel-control-next,
                .carousel-control-prev {
                    span {
                        display: none !important;
                    }
                }

                .carousel-control-prev {
                    background: url("../images/licensesandregistrations/Licenses_Button-01.png") center;
                    transition: background 0.3s;
                    background-attachment: local;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 9vw;
                    display: block;
                    padding: 0;
                    cursor: pointer;
                    height: 35vw;
                    opacity: 1;
                    span {
                        display: none !important;
                    }
                }
                .carousel-control-next {
                    background: url("../images/licensesandregistrations/Licenses_Button-02.png") center;
                    transition: background 0.3s;
                    background-attachment: local;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 9vw;
                    display: block;
                    padding: 0;
                    cursor: pointer;
                    height: 35vw;
                    opacity: 1;
                    span {
                        display: none !important;
                    }
                }
                .--btn-check-our-work {
                    font-family: "gill sans medium",sans-serif !important;
                    letter-spacing: 0.3vw;
                    font-size:0.875em;
                    color: #283a97;
                    font-weight: 600;
                    padding: 13px 20px;
                    border-radius: 0;
                    outline: 0 !important;
                    box-shadow: none !important;
                    margin-top: 5vw;
                }
            }
        }
        .--container-3 {
            padding: 10vw 0;
            .--title {
                font-size: 1.500em;
                line-height: 1.6;
            }
        }
        .--container-4 {
            position: relative;
            padding: 100px 0;
            position: relative;
            z-index: 1;
            &.--max {
                max-width: 100% !important;
                overflow: hidden;
            }
            &::before {
                content: "";
                position: absolute;
                top:0;
                left:0;
                bottom: 0;
                right: 0;
                background: url("../images/home/Home_BG-04.png")  top center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-attachment: scroll;
                padding: 100px 0;
                z-index: -1;
            }
            .--title {
                font-size: 1.500em !important;
                line-height: 1.6;
                margin: 0 0 50px 0;
            }
            .row {
                .col {
                    flex: 1 0 100%;
                }
            }
            img {
                &.--img {
                    width: 70vw;
                    object-fit: contain;
                    object-position: 0 0;
                    height: unset;
                    margin: 0 auto;
                    display: block;
                }
            }
            .--launches-details {
                padding: 5vw 0 0 0;
                height: unset;
                width: 70vw;
                margin: 0 auto;
                display: grid;
                grid-template-areas: 
                'myImg mytxtOne'
                'myImg mytxtTwo'
                'myDesc myDesc';
                grid-template-columns: 26vw 1fr;
                img {
                    &.--img-logo {
                        grid-area: myImg;
                        height: auto;
                        width: 25vw !important;
                        margin-right: 25px;
                    }
                }
                p {
                    &.--txt {
                        grid-area: mytxtOne;
                        font-size: 2.2vw !important;
                        &:nth-child(3) {
                            grid-area: mytxtTwo;
                        }
                    }
                    &.--desc {
                        font-size: 0.875em !important;
                        text-align: center;
                        margin: 0 auto;
                        grid-area: myDesc;
                        br {
                            display: none;
                        }
                    }
                }
            }
            .--btn-im-interested {
                font-size: 0.875em !important;
                padding: 15px 4vw;
            }
        }
    }
    @media (max-width:769px) {
        background:url("../images/mobile/home/Home_BG-02.png") top 65vw center,
        url("../images/mobile/home/Home_BG-01.png")  top -2vw center;
        background-repeat: no-repeat;
        background-size: 170vw 100vw,100vw 100vw;
        transition: background 0.5s;
        background-attachment: local;
        margin-top: 0;
        transition: margin-top 0.5s;
        image-rendering: pixelated;
        &::before {
            content: "";
            height: 15vw;
            width: 50vw;
            background-color: #101869;
            opacity: 0.6;
            position: absolute;
            top: 69vw;
            left: -22vw;
            transition: height 0.3s;
            transition: width 0.3s;
            transition: transform 0.3s;
            transform: skew(327deg, 13deg);
        }
        &::after {
            content: "";
            height: 12vw;
            width: 57.5vw;
            background-color: transparent;
            border: 1px solid #ffffff;
            position: absolute;
            top: 76vw;
            left: 20vw;
            transition: height 0.3s;
            transition: width 0.3s;
            transition: transform 0.3s;
            transform: skew(327deg, 13deg);
        }
        .--header {
            min-height: 60vh;
            padding: 35vw 0 10vw 0;
            .--title {
                font-size: 1.500em !important;
                line-height: 1.6;
                margin: 0;
            }
        }
        .--bg-2 {
            &::after {
                height: 85vw !important;
            }
            .--container-2 {
                padding-top: 25vw;
                padding-bottom: 100px;
                .--title {
                    font-size: 1.500em;
                    line-height: 1.6;
                    margin: 0 0 10vw 0;
                }
            }
        }
        .--container-3 {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top:0;
                left:0;
                bottom: 0;
                right: 0;
                background: url("../images/mobile/home/Home_BG-03.png")  top center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-attachment: scroll;
                padding: 100px 0;
                z-index: -1;
            }
            &.--max {
                max-width: 100% !important;
                overflow: hidden;
            }
            .--title {
                margin-bottom: 100px;
            }
            img {
                width: 150px;
                height: 150px;
                margin-bottom: 25px !important;

            }
            h5 {
                &.--project-title {
                    font-size: 	1.125em;
                }
            }
            p {
                &.--desc {
                    font-size: 	0.875em;
                    margin-bottom: 50px !important;
                }
            }
        }
    }
    @media (max-width: 650px) {
        .--header {
            min-height: 65vh;
        }
        .--bg-2 {
            &::after {
                height: unset !important;
                top:0;
            }
            .--container-2 {
                padding-top: 5vw !important;
            }
        }
        .--container-4 {
            .--launches-details {
                width: 80vw;
                grid-template-columns: 34vw 1fr;
                img {
                    &.--img-logo {
                        width: 30vw !important;
                    }
                }
                p {
                    &.--txt {
                        font-size: 2.6vw !important;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .--header {
            min-height: 55vh !important;
        }
        .--bg-2 {
            .--container-2 {
                padding-top: 0vw !important;
            }
        }
    }
}