.land-acquisition {
  position: relative;
}

.header {
  padding: 36vh 0 18vh;

  display: grid;
  place-content: center;

  &__title {
    font-family: "gill sans", sans-serif !important;
    letter-spacing: 0.5vw;
    font-weight: 600 !important;
    text-transform: uppercase;
    line-height: 3.1vw;
    font-size: 2.3vw;
    color: #283a97;
    // margin: 10.3vw 0 3.4vw 0;
    text-align: center;
  }

  &__desc {
    padding-top: 3vw;
    font-family: "gill sans medium", sans-serif;
    font-weight: 500 !important;
    font-size: 1.3vw;
    color: #676ab0;
    line-height: 1.9vw;
    letter-spacing: 0.2em;
    text-align: center;
  }
}

.form {
  padding-bottom: 30vh;
  position: relative;

  .collaboration {
    display: flex;
    gap: 2.5em;

    input {
      border-radius: 100% !important;
      padding: 0.5em;
    }
  }

  .documents {
    ul {
      margin-top: 1.4em;
      padding-left: 1em;
      width: fit-content;
    }

    .upload-placeholder {
      width: 100%;
      border: 1px solid #676ab1 !important;
      height: 11vw;
      cursor: pointer;
      position: relative;
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* height: 11vw;
      width: 100%;
      position: relative; */
    }
  }

  .remarks {
    input {
      height: 11vw;
    }
  }

  .terms {
    font-family: "gill sans medium", sans-serif;
    gap: 3%;
    font-size: 0.52vw;
    letter-spacing: 0.12em;

    &__content {
      width: 76%;
    }

    input {
      padding: 1em;
    }
  }

  .--btn-send {
    margin: 7vw 0 0 0;
    border: 1px solid #676ab1 !important;
  }
}

.svg {
  position: absolute;

  &--1 {
    bottom: 0;
    left: 0;
    width: 40vw;
  }

  &--2 {
    bottom: 5%;
    left: 0;
    width: 15vw;
    z-index: -1;
  }

  &--3 {
    bottom: 5%;
    right: 0;
    width: 25vw;
    transform: translateX(1px);
  }

  &--4 {
    top: 20%;
    left: 0;
    width: 10vw;
  }

  &--5 {
    top: 3%;
    right: 0;
    width: 13vw;
    z-index: 1;
  }

  &--6 {
    top: 10%;
    right: 0;
    width: 10vw;
  }

  &--7 {
    top: -12%;
    left: 0;
    width: 8vw;
    z-index: 2;
    opacity: 0.5;
  }

  &--8 {
    top: -8%;
    left: 0;
    width: 13vw;
  }

  &--9 {
    top: -35%;
    right: 0;
    width: 18vw;
    z-index: 1;
  }

  &--10 {
    top: -31%;
    right: 0;
    width: 23vw;
  }
}
