/*
*
|  Page Name       : leader.scss
|  Description     : scss for leaders page use
|  Created by      : May Altamerano
|  Date Created    : July 6 2021
|  Last Update by  : May Altamerano
|  Last update     : July 6 2021
*
*/
.--leader {
    min-height: 100vh;
    margin-top: -9.1vw;
    width: 100%;
    background: url("../images/leaders/Leaders_Shapes-01.png") top -9.7vw center,
    url("../images/leaders/Leaders_BG-01.png") top center;
    transition: background 0.3s;
    background-attachment: scroll, fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: 100vw auto;
    .--bg-1 {
        min-height: 50vw;
        padding: 10vw 0;
        .--max {
            max-width: 80%;
        }
    }
}