/*
*
|  Page Name       : leader.scss
|  Description     : scss for leaders page use
|  Created by      : May Altamerano
|  Date Created    : July 6 2021
|  Last Update by  : May Altamerano
|  Last update     : July 6 2021
*
*/
.--leader {
    min-height: 100vh;
    margin-top: -9.1vw;
    width: 100%;
    background: url("../images/leaders/Leaders_BG-01.png") top center;
    transition: background 0.3s;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url("../images/leaders/Leaders_Shapes-01.png") top -9.7vw left;
        transition: background 0.3s;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: 102vw auto;
        height: 100vw;
        width: 100%;
        z-index: 2;
    }
    .--bg-1 {
        min-height: 50vw;
        padding: 24vw 0 10vw 0;
        .--max {
            max-width: 80%;
        }
        .--leader-details {
            width: 100%;
            position: relative;
            img {
                width: 63vw !important;
                margin: 0 auto;
            }
            ul {
                position: absolute;
                top: 15vw;
                right: 0vw;
                left:0vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                list-style: none;
                z-index: 5;
                li {
                    .control-prev {
                        background: url("../images/leaders/Leaders_Button-01.png") center;
                        transition: background 0.3s;
                        background-attachment: local;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 5vw;
                        width: 5vw;
                        display: block;
                        padding: 0;
                        cursor: pointer;
                        span {
                            display: none !important;
                        }
                    }
                    .control-next {
                        background: url("../images/leaders/Leaders_Button-02.png") center;
                        transition: background 0.3s;
                        background-attachment: local;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 5vw;
                        width: 5vw;
                        display: block;
                        padding: 0;
                        cursor: pointer;
                        span {
                            display: none !important;
                        }
                    }
                }
            }
        }
        .--about-content {
            max-width: 63vw;
            margin: 6.5vw auto 5vw auto;
            display: block;
            .--btn-get-to-know {
                background: url("../images/leaders/Leaders_Button-03.png") top center;
                transition: background 0.3s;
                background-attachment: scroll;
                background-repeat: no-repeat;
                background-size: contain;
                height: 6vw;
                width: 26.7vw;
                min-width: 200px;
                display: block;
                border: 0 !important;
                box-shadow: none !important;
                outline: 0 !important;
                margin: 4.5vw auto 0 auto;
                position: relative;
                z-index: 5;
            }
        }
    }
    @media (max-width: 992px) {
        background-size: auto 100%;
        padding: 100px 0;
        &::before {
            background: url("../images/leaders/Leaders_Shapes-01.png") top -9.7vw left -5vw;
            transition: background 0.3s;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-size: 108vw 115vw;
            height: 165vw;
        }
        .--bg-1 {
            .--max {
                max-width: 90%;
            }
            .--leader-details {
                img {
                    width: 60vw !important;
                    height: 40vw;
                    object-fit: cover;
                }
                ul {
                    li {
                        .control-next,
                        .control-prev {
                            height: 8vw;
                            width: 8vw;
                        }
                    }
                }
            }
            .--about-content {
                max-width: 70vw;
                .col-md-5,
                .col-md-7 {
                    flex: 0 0 100%;
                    width: 100%;
                }
                .col-md-5 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    h3 {
                        margin-bottom: 5vw;
                        font-size: 1.000em;
                        line-height: 1.6;
                    }
                    hr {
                        height: 70% !important;
                        width: 2px !important;
                        margin: 0 4vw;
                    }
                    h6 {
                        font-size: 	0.875em;
                        line-height: 1.2;
                    }
                }
                .col-md-7 {
                    p {
                        font-size: 1.125em;
                        line-height: 1.6;
                        &:nth-child(1) {
                            font-size: 	0.875em;
                        }
                    }
                    hr {
                        width: 30%;
                        margin: 30px 0;
                    }
                }
                .--btn-get-to-know {
                    height: 55px !important;
                    width: 280px !important;
                    min-width: 200px;
                    image-rendering: -webkit-optimize-contrast;
                    margin: 50px auto 0 auto !important;
                }
            }
        }
    }
}