/*
*
|  Page Name       : licensesandregistrations.scss
|  Description     : scss for licenses and registrations page use
|  Created by      : May Altamerano
|  Date Created    : July 2 2021
|  Last Update by  : May Altamerano
|  Last update     : July 2 2021
*
*/
.--licenses-and-registrations {
    // background: url("../images/licensesandregistrations/Licenses_Shapes-01.png") top -12.5vw left -7vw,
    // url("../images/licensesandregistrations/Licenses_Shapes-02.png") top 111vw right -52vw,
    // url("../images/licensesandregistrations/Licenses_BG-02.png") top 52vw center,
    // url("../images/licensesandregistrations/Licenses_BG-01.png") top -40.2vw right -27.5vw,
    // url("../images/licensesandregistrations/Licenses_BG-03.png") bottom center;
    // background-size: 107vw 80vw, 175vw auto, 100vw auto, 140vw auto, 100vw auto;
    // background-repeat: no-repeat, no-repeat,no-repeat, no-repeat, no-repeat;
    // background-attachment: scroll, scroll, scroll, scroll, fixed;
    // transition: background 0.3s;
    &::before {
        content: "";
        position: absolute;
        top: 35.5vw;
        left: -17.5vw;
        background: url("../images/licensesandregistrations/Licenses_Shapes-03.png")  -40.2vw right -27.5vw;
        background-size: 140vw auto;
        background-repeat: no-repeat;
        background: background 0.3s;
        background-attachment: scroll;
        height: 33vw;
        width: 67.5vw;
        transform: scaleX(-1) scaleY(-1);
    }
    .--bg-1 {
        padding: 10vw 0 5vw 0;
        min-height: 101vh;
        // margin-top: -9.1vw;
        width: 100%;
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3.1vw;
            font-size: 2.3vw;
            color: #283a97;
            margin: 10.3vw 0 3.4vw 0;
            text-align: center;
        }
        .--desc {
            font-family: "gill sans medium",sans-serif;
            font-weight: 500 !important;
            margin-bottom: 9.4vw;
            font-size: 1vw;
            color: #676ab0;
            line-height: 1.9vw;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .--bg-2 {
        padding: 13vw 0 5vw 0;
        min-height: 91vw;
        width: 100%;
        position: relative;
        z-index: 3;
        .carousel {
            img {
                height: 100%;
                object-fit: contain;
                width: 35vw;
                object-position: 0 0;
                margin: 0 auto;
                display: block;
            }
            .carousel-caption {
                position: relative;
                right: unset;
                left: unset;
                bottom: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
            .--caption {
                font-family: "gill sans",sans-serif;
                font-weight: 500 !important;
                margin-top: 2vw;
                font-size: 1vw;
                color: #ffffff;
                line-height: 1.9vw;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.2vw;
            }
            .carousel-inner {
                height: 55vw;
            }
            .carousel-control-next,
            .carousel-control-prev {
                height: 50vw;
                span {
                    display: none;
                }
            }
            .carousel-control-next {
                background: url("../images/licensesandregistrations/Licenses_Button-02.png") center;
                background-size: contain;
                background-repeat: no-repeat;
                background: background 0.3s;
                width: 5vw;
                image-rendering: -webkit-optimize-contrast;
                right: 5vw;
            }
            .carousel-control-prev {
                background: url("../images/licensesandregistrations/Licenses_Button-01.png") center;
                background-size: contain;
                background-repeat: no-repeat;
                background: background 0.3s;
                width: 5vw;
                image-rendering: -webkit-optimize-contrast;
                left: 5vw;
            }
        }
    }
    .--bg-3 {
        padding: 2.6vw 0 5vw 0;
        min-height: 52vw;
        width: 100%;
        background: url("../images/licensesandregistrations/Licenses_Shapes-03.png")  bottom 0 right -10vw;
        background-size: 50vw auto;
        background-repeat: no-repeat;
        background: background 0.3s;
        background-attachment: scroll;
        .--max {
            max-width: 85%;
        }
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3.1vw;
            font-size: 2.3vw;
            color: #283a97;
            margin: 0vw 0 7.5vw 0;
            text-align: center;
        }
        .--text-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;
            position: relative;
            right: unset;
            left: unset;
            bottom: 0;
            padding-top: 10vw;
            hr {
                background-color: #283997;
                height: 2px;
                width: 10vw;
                opacity: 1;
            }
            .--desc {
                font-family: "gill sans",sans-serif;
                font-weight: 500 !important;
                margin-bottom: 0;
                margin-top: 1vw;
                letter-spacing: 0.2vw;
                font-size: 1.1vw;
                color: #283997;
                line-height: 2.5vw;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .carousel {
            img {
                height: auto;
                object-fit: contain;
                width: 34vw;
                object-position: 0 0;
                margin: 0 auto;
                display: block;
            }
            .carousel-item {
                height: 54vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .carousel-caption {
                position: relative;
                right: unset;
                left: unset;
                bottom: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
            .--caption {
                font-family: "gill sans",sans-serif;
                font-weight: 500 !important;
                margin-top: 2vw;
                font-size: 1vw;
                color: #676ab0;
                line-height: 1.9vw;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.2vw;
            }
            .carousel-inner {
                height: 55vw;
            }
            .carousel-control-next,
            .carousel-control-prev {
                height: 50vw;
                span {
                    display: none;
                }
            }
            .carousel-control-next {
                background: url("../images/licensesandregistrations/Licenses_Button-04.png") center;
                background-size: contain;
                background-repeat: no-repeat;
                background: background 0.3s;
                width: 4vw;
                image-rendering: -webkit-optimize-contrast;
                right: 0;
                // &:hover {
                //     background: url("../images/licensesandregistrations/Licenses_Button-02.png") center;
                //     background-size: contain;
                //     background-repeat: no-repeat;
                //     background: background 0.3s;
                //     width: 4vw;
                //     image-rendering: -webkit-optimize-contrast;
                //     right: 0;
                // }
            }
            .carousel-control-prev {
                background: url("../images/licensesandregistrations/Licenses_Button-03.png") center;
                background-size: contain;
                background-repeat: no-repeat;
                background: background 0.3s;
                width: 4vw;
                image-rendering: -webkit-optimize-contrast;
                left: 0;
                // &:hover {
                //     background: url("../images/licensesandregistrations/Licenses_Button-01.png") center;
                //     background-size: contain;
                //     background-repeat: no-repeat;
                //     background: background 0.3s;
                //     width: 4vw;
                //     image-rendering: -webkit-optimize-contrast;
                //     left: 0;
                // }
            }
        }
    }

    .header-bg {
        background: url("../images/licensesandregistrations/Licenses_BG-01.png") top -40.2vw right -27.5vw;
        background-repeat: no-repeat;
        background-size:  140vw auto !important;
        transition: background 0.3s;
        width: 100%;
        position: absolute;
        z-index: -5;
        height: 80vw;
        top: 0;
    }
    .licenses-bg {
        background: url("../images/licensesandregistrations/Licenses_BG-02.png") top 0 center;
        background-repeat: no-repeat;
        background-size: 105vw auto !important;
        transition: background 0.3s;
        width: 100%;
        position: absolute;
        z-index: -5;
        height: 95vw;
        top: 0;
    }
    .qualityassurance-bg {
        background:url("../images/licensesandregistrations/Licenses_BG-03.png") bottom center;
        background-repeat: no-repeat;
        background-size:  100vw auto !important;
        transition: background 0.3s;
        width: 100%;
        position: absolute;
        z-index: -5;
        height: 105vw;
        top: -31vw;
    }


    @media (max-width:1750px) {
        .--bg-2 {
            padding: 5vw 0 5vw 0;
            transition: padding 0.5s;
        }
    }
    @media (max-width:1450px) {
        .--bg-1 {
            min-height: 95vh;
            transition: min-height 0.5s;
        }
        .--bg-2 {
            padding: 0vw 0 5vw 0;
            transition: padding 0.5s;
        }
    }
    @media (max-width:1450px) {
        .--bg-1 {
            min-height: 85vh;
            transition: min-height 0.5s;
        }
    }
    @media (max-width:1200px) {
        .--bg-1 {
            min-height: 75vh;
            transition: min-height 0.5s;
        }
    }
    @media (max-width:992px) {
        background: url("../images/mobile/licenses/Licenses_BG-02.png") top 82vw center,
        url("../images/mobile/licenses/Licenses_BG-01.png") top -30vw center;
        background-size: 100vw auto, 125vw auto;
        background-repeat: no-repeat, no-repeat;
        background-attachment: scroll;
        transition: background 0.3s;
        &::before {
            display: none;
        }
        .--bg-1 {
            margin-top: 0;
            min-height: 80vw;
            transition: min-height 0.5s;
            padding: 100px 0;
            .--title {
                font-size: 	1.500em;
                line-height: 1.6;
            }
            .--desc {
                font-size: 0.875em;
                line-height: 1.6;
                max-width: 90%;
                margin: 0 auto;
                 br {
                     display: none;
                 }
            }
        }
        .--bg-2 {
            padding: 100px 0;
            min-height: 123vw;
            .carousel {
                .carousel-inner {
                    height: 80vw;
                }
                img {
                    width: 50vw;
                }
                .--caption {
                    font-size: 	1.000em;
                    line-height: 1.6;
                }
                .carousel-control-next,
                .carousel-control-prev {
                    width: 7vw;
                    &:hover {
                        width: 7vw;
                    }
                }
                .carousel-control-prev {
                    left: 0vw;
                }
                .carousel-control-next {
                    right: 0vw;
                }
            }
        }
        .--bg-3 {
            width: 100%;
            position: relative;
            padding: 50px 0 100px 0;
            &::before {
                content: "";
                position: absolute;
                top: -35vw;
                bottom: 0;
                right: 0;
                left: 0;
                background: url("../images/mobile/licenses/Licenses_BG-03.png") bottom center;
                background-size: 110vw auto;
                background-repeat: no-repeat;
                background-attachment: scroll;
                transition: background 0.3s;
                z-index: -1;
            }
            .col-md-7,
            .col {
                flex: 0 0 100%;
                width: 100%;
            }
            h1 {
                &.--title {
                    font-size: 1.500em;
                }
            }
            .carousel {
                .carousel-control-next,
                .carousel-control-prev {
                    width: 7vw;
                    &:hover {
                        width: 7vw;
                    }
                }
                .carousel-inner,
                .carousel-item {
                    height: 85vw;
                }
                img {
                    width: 50vw;
                }
                .--caption {
                    font-size: 0.875em;
                    line-height: 1.6;
                }
            }
            .--text-container {
                .--desc {
                    font-size: 0.875em;
                    line-height: 1.6;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width:600px) {
        background: url("../images/mobile/licenses/Licenses_BG-02.png") top 110vw center,
        url("../images/mobile/licenses/Licenses_BG-01.png") top -30vw center;
        background-size: 115vw auto, 160vw auto;
        background-repeat: no-repeat, no-repeat;
        background-attachment: scroll;
        transition: background 0.3s;
        .--bg-1 {
            min-height: 110vw;
        }
        .--bg-2 {
            min-height: 137vw;
            .carousel {
                .carousel-control-next {
                    width: 9vw;
                    right: 6vw;
                }
                .carousel-control-prev {
                    width: 9vw;
                    left: 6vw;
                }
                .carousel-inner {
                    height: 90vw;
                }
            }
        }
    }
    @media (max-width:450px) {
        background: url("../images/mobile/licenses/Licenses_BG-02.png") top 150vw center,
        url("../images/mobile/licenses/Licenses_BG-01.png") top -50vw center;
        background-size: 115vw auto,  225vw auto;
        background-repeat: no-repeat, no-repeat;
        background-attachment: scroll;
        transition: background 0.3s;
        .--bg-1 {
            min-height: 145vw;
            padding: 160px 0 100px 0;
        }
        .--bg-2 {
            min-height: 141vw;
        }
    }
}