/*
*
|  Page Name       : propertydevelopment.scss
|  Description     : scss for property development page use
|  Created by      : May Altamerano
|  Date Created    : July 2 2021
|  Last Update by  : May Altamerano
|  Last update     : July 2 2021
*
*/
.--property-development {
    background: url("../images/propertydevelopment/PropertyDev_BG-01.png") top -1vw center;
    background-size: 125vw auto, 103vw auto;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll;
    transition: background 0.3s;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 30.3vw;
        left: 0;
        right: 0;
        background: url("../images/propertydevelopment/PropertyDev_Shapes-01.png") top 31vw left -16vw;
        height: 80vw;
        width: 100%;
        background-position: -17vw 0vw;
        background-size: 130.5vw auto;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .--bg-1 {
        padding: 10vw 0 0 0;
        min-height: 44vw;
        margin-top: -9.1vw;
        width: 100%;
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.4vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 3.1vw;
            font-size: 2vw;
            color: #283a97;
            margin: 6vw 0 2.5vw 0;
            text-align: center;
        }
        .--desc {
            font-family: "gill sans",sans-serif;
            font-weight: 600 !important;
            margin-bottom: 9.4vw;
            font-size: 1.25vw;
            color: #676ab0;
            line-height: 2.4vw;
            text-align: center;
            letter-spacing: 0.25vw;
        }
    }
    .--bg-2 {
        padding: 10vw 0 0 0;
        min-height: 45vw;
        margin-top: -9.1vw;
        width: 100%;
        .carousel {
            height: 65vw;
            .carousel-inner {
                height: 65vw;
                img {
                    height: 65vw;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .carousel-control-prev,
            .carousel-control-next {
                display: none !important;
            }
            .carousel-indicators {
                bottom: 22vw;
                left: unset;
                width: 45vw;
                margin-left: unset;
                margin-right: unset;
                justify-content: flex-start;
                padding-left: 5.7vw;
                li {
                    height: 30px;
                    width: 30px;
                    border-radius: 100px;
                    border: 1px solid #283a97;
                    background-color: transparent;
                    transition: background-color 0.5s;
                    margin: 0 2.5vw 0 0;
                    :hover {
                        background-color: #283a97;
                        transition: background-color 0.5s;
                    }
                    &.active {
                        background-color: #283a97;
                        transition: background-color 0.5s;
                    }
                }
            }
            .carousel-caption {
                position: absolute;
                right: 0;
                bottom: 0;
                left: unset;
                top: 0;
                padding-top: 8vw;
                padding-bottom: 17.3vw;
                color: #fff;
                text-align: left;
                width: 45vw;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                .--title {
                    font-family: "gill sans",sans-serif !important;
                    letter-spacing: 0.2vw;
                    font-weight: 800 !important;
                    text-transform: uppercase;
                    line-height: 1.1;
                    font-size: 1.2vw;
                    color: #283a97;
                    margin: 0 0 0.8vw 0;
                    text-align: left;    
                    padding-left: 5.7vw;
                }
                .--desc {
                    font-family: "gill sans medium",sans-serif;
                    font-weight: 500 !important;
                    margin-bottom: 2.4vw;
                    font-size: 1.2vw;
                    color: #283a97;
                    line-height: 1.4vw;
                    text-align: left;
                    padding-left: 5.7vw;
                    letter-spacing: 0.17vw;
                }
                .--hr {
                    height: 1px;
                    width: 27vw;
                    background-color: #283a97;
                    opacity: 1 !important;
                    margin-bottom: 2vw;
                }
                .--bottom-detail {
                    letter-spacing: 0.2vw;
                    color: #283a97;
                    text-align: left;
                    margin-bottom: 35px;

                    span.--title {
                        font-family: "gill sans ",sans-serif !important;
                        font-weight: 800 !important;
                        line-height: normal;
                        font-size: 1vw;
                        text-transform: capitalize;
                        padding-left: 5.7vw;
                        margin-bottom: 0;
                    }
                    span {
                        display: block; 
                        font-family: "gill sans",sans-serif !important;
                        font-weight: 300 !important;
                        line-height: normal;
                        font-size: 1.01vw;
                        padding-left: 5.7vw;
                    }
                }
                .--btn-view-project {
                    background-color: #ffffff !important;
                    border: 0 !important;
                    border-radius: 0 !important;
                    font-family: "gill sans",sans-serif !important;
                    letter-spacing: 0.1vw;
                    color: #283997;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 15px 3.3vw;
                    margin-left: 5.7vw;
                    margin-top: 5vw;
                    text-decoration: none !important;
                    box-shadow: none !important;
                    outline: 0 !important;
                    z-index: 10;
                    position: relative;
                }
            }
        }
    }
    @media (max-width:992px) {
        background-size: cover;
        &::before {
            z-index: -1;
        }
        .--bg-1 {
            min-height: 75vw;
            padding: 280px 0 0 0;
            .--title {
                font-size: 	1.500em;
            }
            .--desc {
                font-size: 	1.125em;
                line-height: 1.4;
                 br {
                     display: none;
                 }
            }
        }
        .--bg-2 {
            .carousel {
                height: 100vw;
                .carousel-inner {
                    height: 100vw;
                    img {
                        height: 100vw;
                    }
                }
                .carousel-caption {
                    width: 90%; 
                    left: 50px;
                    .--title {
                        font-size: 	1.125em;
                        line-height: 1.6;
                    }
                    .--desc {
                        font-size: 	0.875em;
                        line-height: 1.6;
                        br {
                            display: none;
                        }
                    }
                    .--hr {
                        margin-left: 5.7vw;
                        width: 80vw;
                    }
                    span.--title,
                    span {
                        font-size: 	0.875em !important;
                    }
                    .--btn-view-project {
                        font-size: 	0.875em !important;
                    }
                    .--bottom-detail {
                        margin-bottom: 50px;
                    }
                }
                .carousel-indicators {
                    width: 92vw;
                    bottom: 25vw;
                    li {
                        height: 21px;
                        width: 21px;
                    }
                }
            }
        }
    }
    @media (max-width:825px) {
        .--bg-1 {
            min-height: 90vw;
        }
    }
    @media (max-width:700px) {
        .--bg-1 {
            min-height: 110vw;
        }
        .--bg-2 {
            .carousel {
                height: 115vw;
                .carousel-inner {
                    height: 115vw;
                    img {
                        height: 115vw;
                    }
                }
                .carousel-caption {
                    left: 25px;
                }
            }
        }
    }
    @media (max-width:570px) {
        .--bg-1 {
            min-height: 140vw;
        }
        .--bg-2 {
            .carousel {
                height: 140vw;
                .carousel-inner {
                    height: 140vw;
                    img {
                        height: 140vw;
                    }
                }
                .carousel-caption {
                    left: 25px;
                }
                .carousel-indicators {
                    bottom: 28vw;
                }
            }
        }
    }
    @media (max-width:500px) {
        .--bg-1 {
            min-height: 170vw;
        }
        .--bg-2 {
            .carousel {
                height: 200vw;
                .carousel-inner {
                    height: 200vw;
                    img {
                        height: 200vw;
                    }
                }
                .carousel-caption {
                    left: 25px;
                    padding-bottom: 35.3vw;
                }
                .carousel-indicators {
                    bottom: 50vw;
                }
            }
        }
    }
}