/*
*
|  Page Name       : teamleaders.scss
|  Description     : scss for team leaders page use
|  Created by      : May Altamerano
|  Date Created    : July 1 2021
|  Last Update by  : May Altamerano
|  Last update     : July 1 2021
*
*/
.--team-leaders {
    min-height: 100vh;
    width: 100%;
    background: url("../images/teamleaders/Leaders_BG-01.png") top center;
    transition: background 0.3s;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100vw auto;
    .--bg-1 {
        background: url("../images/teamleaders/Leaders_BG-02.png") top 57vw center, 
        url("../images/teamleaders/Leaders_Shapes-01.png") top 13vw right -17vw;
        min-height: 58vw;
        background-repeat:  no-repeat, no-repeat;
        background-size:  100vw 62vw, 125vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0 5vw 0;
        .--max {
            max-width: 90%;
        }
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 4.7vw;
            font-size: 2.3vw;
            color: #283a97;
            margin: 10.8vw 0 1.5vw 0;
            text-align: center;
        }
        .--desc {
            font-family: "gill sans medium",sans-serif;
            font-weight: 500 !important;
            margin-bottom: 9.4vw;
            font-size: 1vw;
            color: #283a97;
            line-height: 1.7;
            text-align: center;
        }
        .card {
            width: 94%;
            margin: 0 auto 5vw auto;
            height: auto;
            border-radius: 0 !important;
            background-color: transparent !important;
            cursor: pointer;
            height: 26.6vw;
            overflow: hidden;
            border:0 !important;
            position: relative;
            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            img {
                border-radius: 0 !important;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &:hover {
                .card-img-overlay {
                    border-radius: 0 !important;
                    padding: 0 !important;
                    opacity: 1;
                }
            }
            .card-img-overlay {
                position: absolute;
                border-radius: 0 !important;
                padding: 0 !important;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 0 0;
                }
            }
        }
    }
    .--bg-2 {
        background:url("../images/teamleaders/Leaders_Shapes-02.png") top 0vw center;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 12vw 0 15vw 0;
        min-height: 50vw;
        .--max {
            max-width: 75%;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: 0 0;
        }
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.3vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 4.7vw;
            font-size: 1.7vw;
            color: #ffffff;
            margin: 11.8vw 0 1.5vw 6vw;
            text-align: left;
        }
        .--sub-title {
            font-family: "gill sans light",sans-serif !important;
            letter-spacing: 0.3vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 1.6;
            font-size: 1.2vw;
            color: #283997;
            margin: 4vw 0 0 6vw;
            text-align: left;
        }
        .--desc {
            font-family: "gill sans",sans-serif;
            font-weight: 500 !important;
            margin-bottom: 9.4vw;
            font-size: 1vw;
            color: #283a97;
            line-height: 1.7;
            margin: 1.3vw 0 0 6vw;
            text-align: left;
        }
        .--btn-send-resume {
            position: relative;
            background: url("../images/teamleaders/Leaders_Button-01.png") center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 4vw;
            width: 15vw;
            margin: 2.5vw 0 0 6vw;
            border: 0 !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            padding: 0 !important;
        }
    }
    @media (max-width: 992px) {
        background: url("../images/teamleaders/Leaders_BG-01.png") top center;
        transition: background 0.3s;
        background-repeat: no-repeat;
        margin-top: 0;
        background-size: auto 100% !important;
        .--bg-1 {
            padding: 100px 0;
            background: url("../images/teamleaders/Leaders_BG-02.png") top 65vw center, 
            url("../images/teamleaders/Leaders_Shapes-01.png") top 13vw right -17vw;
            min-height: 58vw;
            background-repeat:  no-repeat, no-repeat;
            background-size:  100vw 65%, 125vw auto;
            transition: background 0.3s;
            background-attachment: scroll;
            .--title {
                line-height: 1.6;
                font-size: 	1.500em;
            }
            .--desc {
                font-size: 0.875em;
                line-height: 1.6;
                max-width: 90%;
                margin: 0 auto;
                br {
                    display: none;
                }
            }
            .--max {
                padding: 100px 0 0 0;
            }
            .col-md-4 {
                width: 50%;
                max-width: 50%;
                &:last-child {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .card {
                height: 40vw !important;
                width: 40vw;
                margin-bottom: 0 auto 50px auto !important;
            }
        }
        .--bg-2 {
            .--title {
                font-size: 1.500em;
                margin: 10.5vw auto 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                width: 50vw;
                height: auto;
                object-fit: contain;
                object-position: 0 0;
                margin: 10vw auto;
                display: block;
            }
            .--sub-title {
                font-size:	1.375em;
                margin: 0 auto 3vw auto;
                text-align: center;
            }
            .--desc {
                font-size: 0.875em;
                margin: 0 auto;
                text-align: center;
                br {
                    display: none;
                }
            }
            .--btn-send-resume {
                height: 60px;
                width: 220px;
                margin: 5vw auto 0 auto;
                display: block;
            }
        }
    }
    @media (max-width: 669px) {
        .--bg-1 {
            background: url("../images/teamleaders/Leaders_BG-02.png") top 100vw center, 
            url("../images/teamleaders/Leaders_Shapes-01.png") top 13vw right -17vw;
            min-height: 58vw;
            background-repeat:  no-repeat, no-repeat;
            background-size:  100vw 65%, 125vw auto;
            transition: background 0.3s;
            background-attachment: scroll;
        }
    }
}