/*
*
|  Page Name       : teamleaders.scss
|  Description     : scss for team leaders page use
|  Created by      : May Altamerano
|  Date Created    : July 1 2021
|  Last Update by  : May Altamerano
|  Last update     : July 1 2021
*
*/
.--team-leaders {
    min-height: 100vh;
    margin-top: -9.1vw;
    width: 100%;
    .--bg-1 {
        background: url("../images/teamleaders/Leaders_Shapes-01.png") top 13vw right -17vw, url("../images/teamleaders/Leaders_BG-01.png") top center;
        height: 51vw;
        background-repeat: no-repeat, no-repeat;
        background-size: 125vw auto, 100vw auto;
        transition: background 0.3s;
        background-attachment: scroll;
        padding: 10vw 0;
        .--title {
            font-family: "gill sans",sans-serif !important;
            letter-spacing: 0.5vw;
            font-weight: 600 !important;
            text-transform: uppercase;
            line-height: 4.7vw;
            font-size: 2.3vw;
            color: #283a97;
            margin: 10.8vw 0 1.5vw 0;
            text-align: center;
        }
        .--desc {
            font-family: "gill sans medium",sans-serif;
            font-weight: 500 !important;
            margin-bottom: 0;
            font-size: 1vw;
            color: #283a97;
            line-height: 1.7;
            text-align: center;
        }
    }
}